#logo {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;    
}

#logo a{
    text-decoration: none;
}

a{
   text-decoration: none;
}

#paging{
    text-align: center;
}

#title {
    font-size: 16px;
    font-weight: bold;
}

#title .query-found{
    font-weight: bold;
}

#sub-title {
    
}

.query-found {
    font-weight: bolder;
}

#text {
    margin-top: 10px;
}

.keyword {
    font-weight: bold;
}

#text-query {
    width: 400px;
}

.result-content {
    margin-bottom: 10px;
}